body {
  margin: 0;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr 15fr 1fr;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightcyan; */
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgoldenrodyellow; */
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#content {
  font-size: 22px;
}

.board {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: black;
  gap: 1px;
  padding: 1px;
}

.row {
  flex-grow: 1;
  display: flex;
  gap: 1px;
}

.col1,
.col2 {
  flex-grow: 1;
  background-color: white;
}

.col1:hover,
.col2:hover {
  background-color: lightgray;
}

/* div {
  border: 1px solid black;
} */
